@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-background-light text-foreground-light transition-colors;
}

.dark {
  @apply bg-background-dark text-foreground-dark;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.splash-screen.hidden {
  opacity: 0;
  pointer-events: none;
}


