@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-background-light text-foreground-light transition-colors;
}

.dark {
  @apply bg-background-dark text-foreground-dark;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  input[type="range"] {
    @apply appearance-none w-full cursor-pointer bg-transparent;
  }

  /* === WebKit (Chrome, Safari) === */
  input[type="range"]::-webkit-slider-runnable-track {
    @apply bg-white rounded-full h-[8px];
  }
  input[type="range"]:disabled::-webkit-slider-runnable-track {
    @apply bg-gray-400 rounded-full h-[8px];
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply appearance-none bg-blue-500 -mt-[5.4px] w-8 h-5 rounded-lg;
    border: 2px solid #1f2937;
  }
  input[type="range"]:disabled::-webkit-slider-thumb {
    @apply appearance-none bg-gray-500 -mt-[5.4px] w-8 h-5 rounded-lg;
    border: 2px solid #1f2937;
  }

  /* === Firefox === */
  input[type="range"]::-moz-range-track {
    @apply bg-gray-400 rounded-full h-[8px];
  }
  input[type="range"]:disabled::-moz-range-track {
    @apply bg-white rounded-full h-[8px];
  }

  input[type="range"]::-moz-range-thumb {
    @apply bg-blue-500 border-none -mt-[5.4px] w-8 h-5 rounded-lg;
    border: 2px solid #1f2937;
  }
  input[type="range"]:disabled::-moz-range-thumb {
    @apply bg-gray-500 border-none -mt-[5.4px] w-8 h-5 rounded-lg;
    border: 2px solid #1f2937;
  }
  
  .slider-color::-webkit-slider-thumb {
    border-color: white !important;
  }

  .sensor-height-range {
    @apply appearance-none w-full bg-transparent;
  }

  .sensor-height-range::-webkit-slider-runnable-track {
    background: repeating-linear-gradient(
      to right,
      #3B82F6,
      #3B82F6 8px,
      transparent 8px,
      transparent 16px
    ) !important;
    height: 4px;
    border: none;
    border-radius: 0;
  }

  .sensor-height-range::-webkit-slider-thumb {
    @apply appearance-none w-4 h-4 bg-white/0 border border-blue-500 rounded-full mt-[-6px];
  }

  .sensor-height-range::-moz-range-track {
    background: repeating-linear-gradient(
      to right,
      #3B82F6,
      #3B82F6 8px,
      transparent 8px,
      transparent 16px
    ) !important;
    height: 2px;
    border: none;
    border-radius: 0;
  }

  .sensor-height-range::-moz-range-thumb {
    @apply w-4 h-4 bg-white/0 border border-blue-500 rounded-full;
  }
}





